:root {
    --color-texto: white;
    --color-fondo: black;
    --color-boton: #ff9500;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    margin: 0;
}

.calculadora {
    background: var(--color-fondo);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px var(--color-fondo);
    width: 260px;
    position: relative;

    .pantalla {
        background: var(--color-texto);
        font-size: 2rem;
        padding: 10px;
        text-align: right;
        border-radius: 5px;
        margin-bottom: 15px;
        overflow: hidden;
    }

    .botones {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;

        .btn {
            padding: 15px;
            font-size: 1.2rem;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            background: #e0e0e0;

            &:hover {
                background: #d4d4d4;
            }
        }

        /* Teclado numérico */

        .suma {
            grid-row: span 2;
        }

        .zero {
            grid-column: span 2;
        }

        .equal {
            grid-row: span 2;
            background: var(--color-boton);
            color: var(--color-texto);

            &:hover {
                background: var(--color-texto);
                color: var(--color-boton);
            }
        }

        .restar,
        .dividir,
        .multiplicar {
            background: #a5a5a5;
        }
    }

    .cientifica {
        display: none;

        position: absolute;
        right: calc(100% + 5px);
        top: 0;

        width: 180px;
        padding: 10px;

        background: var(--color-fondo);
        border-radius: 12px;

        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        &.activa {
            display: grid;
        }

        &.activa + .btn-cientifica {
            display: none;
        }
    }

    .btn-cientifica {
        width: 100%;
        margin-bottom: 15px;

        padding: 10px;

        background: var(--color-boton);
        color: var(--color-texto);

        border: none;
        border-radius: 8px;

        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;

        transition: all 0.2s ease;

        &:hover {
            background: var(--color-boton);
            transform: translateX(-3px);
        }
    }
    .btn {
        padding: 10px;
        font-weight: bold;
        font-size: 1.2rem;
    }
}